/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/*----------------------------------------------------------*/
.box {
    text-align: center;
    background: #800000;
    opacity: 1;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    float: left;
    flex-wrap: wrap;
    margin-left: 200px;
    color: white;
    padding-top: 5px;
}

a {
    FONT-SIZE: 15PX;
    font-family: 'Poppins', sans-serif;
    float: left;
    flex-wrap: wrap;
}

.Link {
    FONT-SIZE: 20PX;
    font-family: 'Poppins', sans-serif;
    float: left;
    flex-wrap: wrap;
    color: white;
}

.text2 {
    font-family: 'Poppins', sans-serif;
    float: right;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 180px;
    color: white;
    padding-top: 10px;
}

.card_getbooks {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-right: 16px;
    margin-top: 10px;
}

    .card_getbooks:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container_getbooks {
    padding: 15px 16px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.getbook_field {
    padding: 2px 5px;
}

.text_size {
    font-size: 10px;
    color: gray;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    padding-left: 0px;
    font-size: 10px;
}
/*.btn-wishlist {
    color: black;
    width: 100%;
    background-color: white;
    border-color: lightgray;
    height: 25px
}*/
.btn-primary {
    display: none;
}

.btn-danger {
    color: #fff;
    background-color: #841e1c;
    width: 115px;
    height: 25px;
    font-size: 14px;
    border-radius:3px;
}

.input-field {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.book_image {
    width: 20vw;
    height: 20vh;
    padding-top: 10px;
}